.hero {
    margin: auto;
}


body {
    background: #15171a;
    font-family: sans-serif;
    line-height: 1.7em;

    font-size: 16px;
}

p {
    /*text-transform: uppercase;*/
    color:white;
    letter-spacing: 0.05em;
    opacity: 0.8;
    margin-top: 2%;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color:white;
    line-height: 1em;
    font-weight: 100;
    margin-bottom: 2%;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    color:white;
    line-height: 1em;
    font-weight: 100;
    margin-bottom: 2%;
    margin-top: 4%;
}

.nav-list {
    margin-top: 2%;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
    margin-left: 1em;
    margin-right: 1em;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}
ul {
    text-align: center;
}

li {
    display: inline-block;
}
.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

