<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a blog page with a list of posts.">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <title></title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../static/stylesheets/hero.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">

    <link rel="apple-touch-icon" sizes="180x180" href="../static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">
    <script data-ad-client="ca-pub-3365685530254198" async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link rel="manifest" href="../static/site.webmanifest">
</head>
<body>
<div class="pure-g">
    <div class="pure-u-1">
        <h1>real time position predictions</h1>
    </div>
</div>
<div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-3">
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
        <p>Tracking enemy players during a League of Legends match is challenging. Ungank uses a phone's camera to watch
            the map and predict enemy positions using deep learning networks.</p>
        <p>Ungank is 100% free, runs from a phone's web browser, and requires no installation, sign-up or login.</p>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
    </div>
</div>
<div class="pure-g">
    <div class="pure-u-1">
        <nav class="nav">
            <ul class="nav-list center">
                <li class="nav-item">
                    <a class="pure-button" href="https://ungank.com/capture">Start Now</a>
                </li>
                <li class="nav-item">
                    <a class="pure-button" href="https://ungank.com/instructions">Instructions</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="pure-g">
    <div class="pure-u-1">
        <img class="pure-img pure-img-responsive hero" src='../static/phone.png' alt="The prediction response.">
    </div>
</div>

<div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-3">
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
        <p class="content-subhead"></p>
        <section class="post">
            <header>
                <h2>Privacy</h2>
            </header>
        </section>

        <div class="post-description">
            <p>
                Ungank does NOT use cookies, or any other tracking mechanism.
            </p>
            <p>
                The images of the in game map captured while using the app will be stored to train better predictive
                models. These images will never be sold or shared with other parties.
            </p>
        </div>

        <p class="content-subhead"></p>
        <section class="post">
            <header>
                <h2>How Ungank Works</h2>
            </header>
        </section>

        <div class="post-description">
            <p>
                Ungank uses cutting edge deep learning techniques to crunch through hundreds of thousands of League of
                Legends maps and create a prediction model. The model can then predict likely enemy player locations,
                including those hidden by the fog of war.
            </p>
            <p>
                The enemy positions are displayed as red grid squares on top of the current map. Grids which are very
                likely to have enemies are colored with a strong shade of red, while grids which are less likely to
                contain enemies are a pale red.
            </p>
        </div>

    </div>
</div>

</body>