<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a blog page with a list of posts.">
    <title></title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-"
          crossorigin="anonymous">

    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
    <!--<![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="../static/stylesheets/blog.css">
    <!--<![endif]-->

    <link rel="apple-touch-icon" sizes="180x180" href="../static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">
    <script data-ad-client="ca-pub-3365685530254198" async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link rel="manifest" href="../static/site.webmanifest">
</head>
<body>

<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <h1 class="brand-title">ungank</h1>
            <h2 class="brand-tagline">Real Time Position Predictions</h2>

            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="https://ungank.com/capture">Start Now</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
        <!-- A wrapper for all the blog posts -->
        <div class="posts">
            <h1 class="content-subhead">For most purposes, a man with a machine is better than a man without a
                machine. -Henry Ford</h1>

            <!-- A single blog post -->
            <section class="post">
                <header class="post-header">
                    <h2 class="post-title">1. Place Phone</h2>
                </header>

                <div class="post-description">
                    <p>
                        Place the phone on an adjustable stand pointing towards the league of legends map.
                        Books, cups and duck tape can also be used to build an acceptable phone stand.
                    </p>
                    <div class="post-images pure-g">
                        <div class="pure-u-1">
                            <img class="pure-img-responsive"
                                 src="../static/phone-stand.png">
                            <div class="post-image-meta">
                                <h3>Ungank</h3>
                            </div>
                        </div>
                    </div>
                    <p>
                        Use a phone stand with adjustable height, some popular choices include:
                    </p>
                    <div class="pure-g">
                        <div class="pure-u-1">
                            <div class="swag">
                                <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0"
                                        scrolling="no" frameborder="0"
                                        src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=ungank-20&marketplace=amazon&region=US&placement=B07M9B6NGX&asins=B07M9B6NGX&linkId=e18cbf3e4d9061b310f861ab9d6ffbbc&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066C0&bg_color=FFFFFF">
                                </iframe>
                                <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0"
                                        scrolling="no" frameborder="0"
                                        src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=ungank-20&marketplace=amazon&region=US&placement=B07NXZK9KP&asins=B07NXZK9KP&linkId=944ce1acfd297b015c23b4e8c0fec5a4&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
                                </iframe>
                                <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0"
                                        scrolling="no" frameborder="0"
                                        src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=ungank-20&marketplace=amazon&region=US&placement=B081X9H5QF&asins=B081X9H5QF&linkId=37c78f2d58c79418b08951981fcafbfb&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
                                </iframe>
                                <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0"
                                        scrolling="no" frameborder="0"
                                        src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=ungank-20&marketplace=amazon&region=US&placement=B07GGKP2BZ&asins=B07GGKP2BZ&linkId=8454d0e74203362c413d802d3ed104e0&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>

                <header class="post-header">
                    <h2 class="post-title">2. Start Predictions</h2>
                </header>
                <div class="post-description">
                    <p>
                        Visit <a href=https://ungank.com/capture">https://ungank.com/capture </a> using the Safari
                        browser for iOS devices, or Chrome for Android devices. Other browsers may not support the
                        <a href=https://webrtc.org/">WebRTC</a> capabilities required to use the phone's camera.
                    </p>
                    <div class="post-images pure-g">
                        <div class="pure-u-1">
                            <img class="pure-img-responsive"
                                 src="../static/safari-chrome.png">
                            <div class="post-image-meta">
                                <h3>Ungank</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <header class="post-header">
                    <h2 class="post-title">3. Align Map</h2>
                </header>
                <div class="post-description">
                    <p>
                        Align the phone so that the map fits inside the green alignment square. Placing the phone
                        too close or too far may decrease the prediction's accuracy.
                    </p>
                    <div class="post-images pure-g">
                        <div class="pure-u-1">
                            <img class="pure-img-responsive"
                                 src="../static/map-align.png">
                            <div class="post-image-meta">
                                <h3>Ungank</h3>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>
</div>


</body>
</html>